#main {
    .contacto {
        color: black;
    }
}
#fondo {
  background-color: lightgreen;
  width: 500px;
  
  .box {
      background-color: lightblue;
      border-radius: 25px;
  }
  .sj {
      src: url(clase15/SJ.jpg);
      border-radius: 25px;
  }

}